/ArtSource/Blender/Astral_Cindrel_Production_v01.blend filter=lfs diff=lfs merge=lfs -text
/ArtSource/Meshy/Astrals/**/*.glb filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Astrals/**/*.fbx filter=lfs diff=lfs merge=lfs -text
