/ArtSource/Blender/**/*.blend filter=lfs diff=lfs merge=lfs -text
/ArtSource/Meshy/Astrals/**/*.glb filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Astrals/**/*.fbx filter=lfs diff=lfs merge=lfs -text
/Docs/ProofOfConcept/**/*.pptx filter=lfs diff=lfs merge=lfs -text
